.heromain{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.heroleft{
    width: 50%;
    padding: 5rem 4rem;
    /* border: 1px solid black; */
}
.herolefttext1{
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000;
    margin-bottom: 1rem;
}
.herolefttext2{
    font-size: 1.2rem;
    font-weight: 600;
    color: #fc6574;
    margin-bottom: 1rem;
}

.herolefttext3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #696060;
    margin-bottom: 1rem;
}
.heroleftbutton{
    background-color: #135ce7;
  border-radius: 15px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.heroImage{
    width: 100%;
}
@media only screen and (max-width: 1300px){
    .heroleft{
        width:50%;
    }
}

@media only screen and (max-width: 1100px){
.heroleft{
    width:80%;
    padding: 7rem 1rem;
}
}

@media only screen and (max-width: 800px){
    .heroleft{
        width:80%;
        padding: 4rem 1rem;
    }
    .heroImage{
        width: 100%;
        height: 45vh;
    }
}
@media only screen and (max-width: 650px){
    .heroleft{
        width:100%;
        padding: 4rem 1rem;
    }
    .heroright{
        width: 100%;
    }
    .heromain{
        flex-direction: column-reverse;
    }
    .heroleft{
        text-align: center;
    }
    .herolefttext1{
        font-size: 2.5rem;
    }
    
    }
@media only screen and (max-width: 350px){
        .heroleft{
            width:100%;
            padding: 4rem 1rem;
        }
        .heroright{
            width: 100%;
        }
        .heromain{
            flex-direction: column-reverse;
        }
        .heroleft{
            text-align: center;
        }
        .herolefttext1{
            font-size: 2rem;
        }
        
}
.pastSponsorBg{
  position: relative;
  text-align: center;

}
.pastSponsorBgImage{
    width: 80%;
    margin-left: auto;
    margin-right: auto;  
}
.pastSponsorText{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    font-weight: 600;
    /* color:#1F3D75; */
    background: linear-gradient(to bottom, #153d75,
    #135ce7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
@media only screen and (max-width: 1280px){
    .pastSponsorText{
     font-size: 2rem;
    }
    .pastSponsorBgImage{
        height: 15%;
}
 }
@media only screen and (max-width: 690px){
    .pastSponsorText{
     font-size: 1.5rem;
    }
    .pastSponsorBgImage{
        height: 15%;
}
 }
@media only screen and (max-width: 500px){
   .pastSponsorText{
    font-size: 1rem;
   }
   .pastSponsorBgImage{
        height: 15%;
}
}
@media only screen and (max-width: 320px){
    .pastSponsorText{
     font-size: 0.6rem;
    }
    .pastSponsorBgImage{
        height: 15%;
}
 }
.detailsPart1{
    display: flex;
    margin-top: 5rem;
    height: 50vh;
}
.part1left{
    flex: 0.5;
    text-align: right;
    padding-right: 4rem;
    background-image: url("../../public/images/What we do.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.part1right{
    flex: 0.5;
    padding: 6rem 1rem;
}
.heading{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 1rem;
}
.text{
    font-size: 1.2rem;
    font-weight: 400;
    color: #696060;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 800px){
    .detailsPart1{
        flex-direction: column;
        height: 80vh;
    }
    .part1left{
        width: 100%;
        text-align: center;
        padding-right: 0rem;
    }
    .part1right{
        width: 100%;
        padding: 0 1rem;
    }
    .detailsImage{
        width: 60%;
        height: 40vh;
    }
    .heading{
        font-size: 2.5rem;
        text-align: center;
    }
    .text{
        font-size: 1.5rem;
        text-align: center;
    }
 }
@media only screen and (max-width: 500px){
    .detailsPart1{
        flex-direction: column;
        height: 50vh;
    }
    .part1left{
        width: 100%;
        text-align: center;
        padding-right: 0rem;
    }
    .part1right{
        width: 100%;
        padding: 0 1rem;
    }
    .detailsImage{
        width: 60%;
        height: 40vh;
    }
    .heading{
        font-size: 2rem;
        text-align: center;
    }
    .text{
        font-size: 1rem;
    }
 }

.detailsPart2{
    display: flex;
    margin-top: 5rem;
}

.part2left{
    flex: 0.5;
    text-align: right;
    padding: 0 4rem;
}
.heading{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 1rem;
}
.text{
    font-size: 1.2rem;
    font-weight: 400;
    color: #696060;
    margin-bottom: 1rem;
}

.detailsImage2{
    width: 60%;
    margin-left: auto;
    margin-right: auto
}
.part2right{
    flex: 0.5;
    text-align: right;
    padding-right: 4rem;
    background-image: url("../../public/images/Our Goals.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
}
@media only screen and (max-width: 1200px){
    .detailsImage2{
        width: 80%;
        margin-left: auto;
        margin-right: auto
    }
}
@media only screen and (max-width: 920px){
    .part2left{
        width: 50%;
        padding: 0 1rem;
    }
}
@media only screen and (max-width: 800px){
    .detailsPart2{
        flex-direction: column-reverse;
        margin-top: -2rem;
    }
    .part2right{
        width: 100%;
        text-align: center;
        padding-right: 0rem;
        padding: 9rem;
    }
    .part2left{
        width: 100%;
        padding: 0 1rem;
    }
    .detailsImage2{
        width: 80%;
        height: 68vh;
    }
    .heading{
        font-size: 2.5rem;
        text-align: center;
    }
    .text{
        font-size: 1.5rem;
        text-align: center;
    }
 }
@media only screen and (max-width: 500px){
    .detailsPart2{
        flex-direction: column-reverse;
        margin-top: 0rem;
        /* margin-top: 2rem; */
    }
    .part2right{
        width: 100%;
        text-align: center;
        padding-right: 0rem;

    }
    .part2left{
        width: 100%;
        padding: 0 1rem;
    }
    .detailsImage2{
        width: 90%;
        height: 40vh;
    }
    .heading{
        font-size: 2rem;
        text-align: center;
    }
    .text{
        font-size: 1rem;
    }
 }


.detailsPart3{
    display: flex;
    margin-top: 5rem;
    justify-content: center;
}
.part3left{
    flex: 0.5;
    text-align: right;
    padding-right: 4rem;
    background-image: url("../../public/images/Why to join us.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    margin-top: -2rem;
}
.part3right{
    flex: 0.5;
    padding: 0 3rem;
}

@media only screen and (max-width: 920px){
    .part3right{
        width: 50%;
        padding: 0 1rem;
    }
    .part3left{
        margin-top: 0;
    }
}
@media only screen and (max-width: 800px){
    .detailsPart3{
        flex-direction: column;
        margin-top: 0;
    }
    .part3left{
        width: 100%;
        padding: 9rem;
        padding-right: 0rem;
    }
    .part3right{
        width: 100%;
        padding: 0 1rem;
    }
    .detailsImage{
        width: 80%;
        height: 68vh;
    }

    .heading{
        font-size: 2.5rem;
        text-align: center;
    }
    .text{
        font-size: 1.5rem;
        text-align: center;
    }
 }
@media only screen and (max-width: 500px){
    .detailsPart3{
        flex-direction: column;
        height: 50vh;
        margin-top: 8rem;
        margin-bottom: 5rem;
    }
    .part3left{
        width: 100%;
        text-align: center;
    }
    .part3right{
        width: 100%;
        padding: 0 1rem;
    }
    .detailsImage{
        width: 90%;
        height: 50vh;
    }

    .heading{
        font-size: 2rem;
        text-align: center;
    }
    .text{
        font-size: 1rem;
    }
 }

@keyframes infiniteHorizontalScroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(
            calc(-100% - calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14))
        );
    }
}
.sponsorSlider {
    display: flex;
    overflow: hidden;
    user-select: none;
}
.sponsorSliderTrack {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    animation: infiniteHorizontalScroll 50s linear infinite;
}
.sponsorSlide {
    display: grid;
	place-items: center;
    padding-left: 10px;
    padding-right: 10px;
	padding-bottom: calc(clamp(10rem, 1rem + 40vmin, 30rem) / 10);
	padding-top: calc(clamp(10rem, 1rem + 40vmin, 30rem) / 10);
    justify-content: space-evenly;
}
.sponsorSlide img {
    height: 100px;
    width: 150px;
    object-fit:scale-down;
}