.Teampage{
   height: 300vh;
}

.leader_grid{
    width: 90%;
    height: 550px;
    padding: 20px;
    margin-left: 70px;
    max-width: 90%;

}
  
  .grid{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(3, 5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%;
    max-width: 90%;
    height: 1200px;
    padding: 20px;
    margin-left: 70px;
    grid-gap: 0;
  }
  
  .leader_information{

    display: grid;
    height: 400px;
    grid-template-columns: 50% 50%;
  }
  
  .member_information{
    background-color: red;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  
  /*image side*/
  .leader_img, .member_img {
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    object-fit: cover;
  box-sizing: border-box;
  background-color: green;
  }
  .member_img{
    background-color: #000;
    object-fit: cover !important;
    background-size: cover;
  background-position: center center;
  border: 1px solid black;
  background-size: cover;
          object-fit: cover;
          background-position: center;
          background-repeat: no-repeat;
  }
  
  /*info side css*/
  .info{
    background-color: #87ceeb;
    font-size: 16px;
  line-height: 1;
  letter-spacing: 0.005em;
  padding: 20px;
  }
  .heading{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    color: #333333;
  }
  .leader_heading{
    font-size: 21px;
    text-align: center;
    color: black;
  }
  .teamInfo{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.01em;
  padding: 20px;
  color: #555555;
  }

  .Leader_info{
    background-color: #87CEEB;
    padding: 50px;
    font-size: 25px;
    font-weight: 500px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #ffffff;

  }
  


  .socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .socialLinks a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    color: #87CEEB;
    transition: all 0.3s ease-in-out;
  }
  
  .socialLinks a:hover {
    transform: scale(1.2);
  }
  
  
  /*responsive*/
  @media only screen and (max-width: 750px) {
    .leader_grid{
      width: 100%;
      height: 200px;
      padding: 0px;
      margin-left: 0px;
      background-color: bisque;
    }
  
    .grid{ 
      display: grid;
      grid-template-columns: none;
      grid-template-rows: none;
      width: 100%;
      height: 800px;
      padding: 0px;
      margin-left: 0px;
    }
  
    
      .heading{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        color: #333333;
      }
      .leader_heading{
        font-size: 15px;
        line-height: 1;
        text-align: center;
        color: #333333;
      }
      .teamInfo{
      display: none;
      }

      .socialLinks a {
        margin: 10px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
      
  }
  